$radius: 10px;

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include flex(space-between, center, row-reverse);
  padding: 5px 0px;
  border-bottom: 1px solid $grey;
  background-color: white;
  z-index: 1200;
  height: 50px !important;
}

.bar-logo {
  @include flex(center, center);
}

.bar-logo img {
  width: 60px;
  height: 50px !important;
  margin: 0 10px;
}

.bar-buttons {
  margin: 0 10px;
  @include flex(space-between, center);
}

.bar-buttons button {
  margin: 0 5px;
}

#home {
  padding: 10px;
}

.home-notices {
  margin-top: 20px;
  @include flex(center, flex-start, row, wrap);
}

.notice-card-item {
  @include flex(flex-start);
  // margin: 0px 5px;
  background-color: $pale;
  width: 48vw;
  max-width: 600px;
  @include flexShrinkAndGrow();
  height: 195px;
  border-radius: $radius; 
  margin: 10px 5px;
  @include addBoxShadow();
  overflow: hidden;
}

.notice-card-item-img {
  width: 200px;
}

.notice-card-item-img img {
  width: 100%;
  height: 100%;
}

.notice-card-item-details {
  padding: 0 10px 0 0;
  @include flex(space-between, flex-start, column);
  padding: 10px;
  width: calc(100% - 200px);
}

.notice-card-item-details-name {
  font-size: 18px;
  color: $black;
  @include multilineEllipsis(1);
  // padding: 10px 0;
}

.notice-card-item-details-desc {
  font-size: 14px;
  color: $dark-grey;
  max-height: 50px;
  word-break: break-word;
  @include multilineEllipsis(2);
}

.notice-card-item-details-click {
  text-align: left;
  width: 100%;
  margin-top: 7px;
}

.notice-card-item-details-location {
  @include flex();
  font-size: 14px;
  color: $darker-blue;
  width: 100%;
  margin-top: 10px;
  max-height: 50px;
  overflow: hidden;
}

.login-modal-container {
  max-width: 500px;
  width: 100%;
}

.login-modal-container p {
  text-align: right;
}

.login-modal-header {
  @include flex(space-between, center);
  padding: 5px 0px;
}

.level0-header {
  padding: 10px 0px;
}

.login-modal-header button {
  margin: 0 !important;
}

.login-modal-title {
  font-size: 20px;
  padding: 5px 0;
}
 
.login-modal-body {
  margin: 10px ;
}

.input-label {
  color: $black;
  font-size: 14px;
  @include flex(space-between);
}

.input-label-remaining {
  color: $grey;
}

.login-modal-container button {
  margin: 0 10px 10px 10px;
  width: 94% !important;
}

.login-modal-container input{
  padding: 12.5px 14px;
}


@media (max-width: 1000px) {
  .notice-card-item {
    height: 165px;
    margin: 5px;
    width: 47vw;
  }

  .notice-card-item-details {
    width: 55%;
  }

  .notice-card-item-img {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .notice-card-item {
    height: 165px;
    margin: 5px;
    width: 95vw;
  }

  .notice-card-item-details {
    width: 60%;
  }

  .notice-card-item-img {
    width: 40%;
  }
}

@media (max-width: 355px) {
  .notice-card-item {
    flex-direction: column;
    height: 290px;
    width: 100%;
    max-width: 210px;
  }

  .notice-card-item-img {
    width: 100%;
    height: 140px;
  }

  .notice-card-item-details {
    width: 100%;
  }
}