$radius: 10px;

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include flex(space-between, center, row-reverse);
  padding: 5px 0px;
  border-bottom: 1px solid $grey;
  background-color: white;
  z-index: 1200;
}

.bar-logo img {
  width: 60px;
  margin: 0 10px;
}

.bar-button {
  margin: 0 10px;
}

#home {
  padding: 10px;
}

.home-notices {
  margin-top: 20px;
}

.notice-card-item {
  @include flex(flex-start);
  // margin: 0px 5px;
  background-color: $pale;
  width: 600px;
  @include flexShrinkAndGrow();
  height: 177px;
  border-radius: $radius; 
}

.notice-card-item-img {
  width: 200px;
}

.notice-card-item-img img {
  width: 200px;
  height: 100%;
}

.notice-card-item-details {
  padding: 0 10px 0 0;
  @include flex(space-between, flex-start, column);
  padding: 10px;
  width: calc(100% - 200px);
}

.notice-card-item-details-name {
  font-size: 18px;
  color: $black;
  @include multilineEllipsis(1);
  // padding: 10px 0;
}

.notice-card-item-details-desc {
  font-size: 15px;
  color: $dark-grey;
  max-height: 50px;
  word-break: break-word;
  @include multilineEllipsis(2);
}

.notice-card-item-details-edit {
  text-align: left;
  width: 100%;
  padding-top: 10px;
}

.notice-card-item-details-location {
  @include flex();
  color: $dark-grey;
  @include multilineEllipsis(1);
}

@media (max-width: 700px) {
  .notice-card-item {
    flex-direction: column;
    height: auto;
    max-width: 200px;
    width: auto;
  }

  .notice-card-item-details-name {
    font-size: 16px;
  }
  
  .notice-card-item-details-desc {
    font-size: 14px;
    height: 57px;
  }

  .notice-card-item-img {
    width: 200px;
    // width: 100%;
    height: 130px;
  }

  .notice-card-item-img img {
    width: 100%;
    height: 100%;
  }

  .notice-card-item-details {
    width: 90%;
    margin: auto;
  }

  .notice-card-item-details-edit {
    display: none;
  }

}